// Définir les couleurs pour le site
$primary: #5C6102;
$secondary: #FDCB78;
$dark: #523719;
$black: #000000;

// Définir les polices pour le site
$font-headline: 'Hind Madurai', sans-serif;
$font-content: 'Montserrat', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";