@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-bottom: 250px; // à ajuster 
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.form-label {
    color: $primary;
}

h1 {
    font-family: $font-family-serif;
    color: $primary;
}

div.password-box {
  display: flex; 
  align-items: center; 
  background-color: #fff; 
}

label .bi {
  font-size: 25px;
}

.password-box .bi {
  font-size: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.bi::before {
  color: var(--bs-primary);
}